.moviesCard{
background: #FDFDFD;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
max-width: 364px;
}

.moviesCard__header{
display: flex;
justify-content: space-between;
padding: 14px;
gap: 26px;
max-height: 68px;
}

.moviesCard__title{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #000000;
max-width: 260px;
box-sizing: border-box;
margin: 0;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.moviesCard__duration{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
color: #A0A0A0;
}

.moviesCard__flag{
background: none;
width: 30px;
height: 30px;
border: none;
background-position: center;
margin-top: 19px;
transition: opasity .5s;
}
.moviesCard__flag:hover{
  opacity: 50%;
  cursor: pointer;
}
.moviesCard__flag_type_active{
background-image: url('../../images/flagActive.svg');
}
.moviesCard__flag_type_inactive{
background-image: url('../../images/flagInactive.svg');
}
.moviesCard__flag_type_delete{
  background-image: url('../../images/flagDelete.svg');

}

.moviesCard__image{
  width: 100%;
  height: 203px;
  object-fit: cover;
  object-position: cover;
}

@media (max-width: 1279px) {
  .moviesCard__image{
    height: 190px;
  }
}

@media (max-width: 767px) {
  .moviesCard__image{
  height: 168px;
}
}
