.portfolio{
  padding: 0 70px 125px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* display: flex; */
}

.portfolio__title{
font-weight: 400;
font-size: 18px;
line-height: 20px;
color: #A0A0A0;
margin-bottom: 50px;
text-align: left;
}

.portfolio__list{
  padding: 0;
}

.portfolio__element{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
  border-bottom: 1px solid #E8E8E8;
  padding-top: 20px;
}
.portfolio__element:first-child{
  padding-top: 0;
}
.portfolio__element:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link{
font-weight: 400;
font-size: 30px;
line-height: 50px;
letter-spacing: -0.04em;
color: #000000;
text-decoration: none;
}

.portfolio__arrow{
  display: block;
  object-fit: contain;
  padding: 5px;
}
